/* 
    Document   : css
    Created on : Sep 10, 2012, 10:08:15 AM
    Author     : jeffrey
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.header {
    
    background-color: #8FBE47;
    margin-top: 5mm;
    margin-left: 1%;
    margin-right: 1%;
    position: static;
    top: 5mm;
    right: 1%;
    left: 1%;
    text-decoration: none;
}

#logo{
    background-image: url('../pics/logo.png');
    background-size:100px 100px;
    background-repeat: no-repeat;
    margin-left: 50px;
    height: 95px;
    width: 95px;
    float: left;
}

#logo_text{
    text-align: right;
    font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    text-decoration: none;
}

a.header span{
    color: #fff;
    text-decoration: none;
    font-size: 4em;
    font-weight: bold;
}

a.header:hover span{
    color: #676862;
    
    
    
}

a.header span span{
    color: #676862;
    text-decoration: none;
    font-size: 1em;
}

a.header:hover span span{
    color: #fff;
    
    
}

.linkblock {
    height: 35px;
    background-color: #739939;
    margin-bottom: 1cm;
    
}

#link_table a{
    color: #fff;
    font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    text-decoration: none;
}

#link_table a:hover{
    color: #676862;
    text-decoration: underline;
}

#link_table a span{
    color: #000;
    text-decoration: none;
}

#link_table a span:hover{
    color: #000;
    text-decoration: none;
}

#link_table{
    width: 80%;
    height: 100%;
    font-size: 1.125em;
    text-align: center;
    font-weight:bold;
}

body{
    position: absolute;
    height: 100%;
    width: 99%;
    font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

.sidebar{
    position: relative;
    float: right;
    top: -38px;
    right: 1%;
    width: 14%;
    height: 60%;
    padding-top: 75px;
    background-color: #c8c8c8;
    text-align: center;
    margin-bottom: 150px;   
}

.sidebar span{
    color: #64a6bc;
    font-weight: bold;
}

.contents{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -120px; /* the bottom margin is the negative value of the footer's height */
    position: relative;
    top: -38px;
    width: 84%;
    left: 1%;
    padding-top: 30px;
    margin-left: 5%;
    margin-right: 15%;
}

#contents_header{
    margin-right: 7%;
    text-align: center;
    font-size: 2em;
}

#main_contents{
    position: relative;
    height: auto;
    margin-right: 7%;
    height: 100%;
}

canvas { 
    display:block;
    margin: auto;
    border:1px solid black;
    position: relative;
}

#framed{
    position: relative;
    height: auto;
    margin-top: 100px;
    margin-right: 7%;
    padding-left: 50px;
    padding-top: 50px;
    border-color: #c8c8c8;
    border-style: solid;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding-bottom: 50px;
}


.footer, .push {
       
	height: 120px; /* .push must be the same height as .footer */
}

.footer{
   background-color: #8FBE47;
   margin-left: 1%;
   margin-right: 2%;
   margin-top: 100px;
   right: 1%;
   left: 1%;
   text-decoration: none;
   text-align: center
   
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}