/* 
    Document   : css
    Created on : Sep 10, 2012, 10:08:15 AM
    Author     : jeffrey
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.header {
    
    background-color: #8ebe46;
    margin-top: 5mm;
    margin-left: 1%;
    margin-right: 1%;
    position: static;
    top: 5mm;
    right: 1%;
    left: 1%;
    text-decoration: none;
}

#logo{
    background-image: url('../pics/logo.png');
    background-size:100px 100px;
    background-repeat: no-repeat;
    margin-left: 50px;
    height: 95px;
    width: 95px;
    float: left;
}

#logo_text{
    text-align: right;
    text-decoration: none;
}

a.header span{
    color: #fff;
    text-decoration: none;
    font-size: 5em;
    font-weight: bold;
}

a.header:hover span{
    color: #676862;
    
    
    
}

a.header span span{
    color: #676862;
    text-decoration: none;
    font-size: 1em;
}

a.header:hover span span{
    color: #fff;
    
    
}

.linkblock {
    
    background-color: #749939;
    margin-bottom: 1cm;
    
}

#link_table a{
    color: #fff;
    text-decoration: none;
}

#link_table a:hover{
    color: #676862;
    text-decoration: underline;
}

#link_table{
    width: 85%;
    height: 100%;
    font-size: 1.3em;
    text-align: center;
}

body{
    position: absolute;
    height: 100%;
    width: 99%;
    
}

.sidebar{
    position: absolute;
    top: -38px;
    right: 1%;
    width: 14%;
    height: 100%;
    padding-top: 75px;
    background-color: #c8c8c8;
    text-align: center;
    margin-bottom: 150px;   
}

.sidebar span{
    color: #64a6bc;
    font-weight: bold;
}

.contents{
    position: relative;
    top: -38px;
    height: 100%;
    width: 84%;
    left: 1%;
    padding-top: 30px;
    margin-bottom: 150px;   
}

#contents_header{
    margin-left: 75px;
    margin-right: 75px;
    text-align: center;
    font-size: 2em;
}

#main_contents{
    position: relative;
    margin-left: 75px;
    margin-right: 75px;
    height: 100%;
}

canvas { 
    display:block;
    margin:1em auto;
    border:1px solid black;
    
}

#login{
    position: relative;
    margin-top: 100px;
    margin-left: 15%;
    margin-right: 20%;
    padding-left: 50px;
    padding-top: 50px;
    border-color: #c8c8c8;
    border-style: solid;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding-bottom: 50px;
}

.footer{
   background-color: #8ebe46;
   position: relative;
   bottom: 0;
   height: 120px;   /* Height of the footer */
    margin-top: 5mm;
    margin-left: 1%;
    margin-right: 2%;
    top: 5mm;
    right: 1%;
    left: 1%;
   text-decoration: none;
}

